body {
  font: 20px Arial;
  text-align: center;
}

@keyframes bounce {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
.Animation {
  animation: 15s linear infinite alternate slidein ;
    color: orangered
}
.Animation2 {
  animation: 15s linear infinite alternate slidein2 ;
    color: cadetblue
}
@keyframes slidein {
  from {
    margin-left: 0%;
    width: 180%; 
  }

  to {
    margin-left: 0%;
    width: 0%;    
      transform: rotate(1440deg);
      animation: bounce;
       

  }
}
@keyframes slidein2 {
  from {
    margin-left: 0%;
    width: 0%; 
  }

  to {
    margin-left: 0%;
    width: 200%;    
      transform: rotate(-1440deg);
      animation: bounce;
  }
}

.ulMenu {
    list-style-type: none;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.liMenu a{
    float: left;
    display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    background-color: #ddd;
}

.liMenu a.active {
  color: white;
  background-color: skyblue;
}

.contact {
    margin: 0px auto;
}

.projet {
   
    border-width:1px;
 border-style:dotted;
 border-color:black;
}

.droite {
    float: left;
}



.centre {
     background-color:skyblue;
    margin-left: 5em;
    margin-right: 5em;
}
@keyframes changerCouleurs {
    from, to { color: rebeccapurple}
    10%      { color: red}
    20%      { color: darkred}
    30%      { color: black}
    40%      { color: darkgreen}
    50%      { color: green}
    60%      { color: forestgreen}
    70%      { color: greenyellow}
    80%      { color: yellowgreen}
    90%      { color: white}
}

.Animation3 {
    color: hsl(324, 70%, 45%);
    animation: changerCouleurs 10s infinite;
}



.gauche {
    float: left;
    background-color: azure;
}

.center {
    float: left;
   
    background-color: aliceblue;
}
